# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#sensitive information 
.env
# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build outputs
dist/
build/
dist-ssr/

# Environment variables
.env
.env.*.local
.env.local

# IDE/editor folders and settings
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Optional: Database dump or temp files
dump/
*.sqlite
*.bak
*.tmp
